@model GroceryHub.Models.Item

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-lg-12 col-xl-12">
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <p class="m-0 font-weight-bold" style="color: #89ab2a;">Delete&nbsp;</p>
            </div>
            <div class="card-body">

                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <h4>Item</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ItemName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ItemName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Image)
                        </dt>
                        <dd class="col-sm-10">
                            @if (Model.Image != null)
                            {
                                <img class="rounded img-fluid card-img-top w-100 d-block border" wstyle="width: 198px;" src="data:image/png;base64,@Convert.ToBase64String(@Model.Image)" />
                            }
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Category)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Category.CategoryName)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="ItemID" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a asp-action="Index">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>