@model PaginatedList<GroceryHub.Models.CartItem>

@{
    ViewData["Title"] = "My List";
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}


<div class="card shadow">
    <div class="card-header py-3">
        <p class="m-0 font-weight-bold" style="color: #89ab2a;">List Items</p>
    </div>
    <div class="card-body">
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table dataTable my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th colspan="1">Description</th>
                        <th>
                            Store Name
                        </th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Offer.Item.ItemName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Offer.OfferDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Offer.Store.StoreName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Offer.Price)
                        </td>
                        <td class="text-center">
                            <a class="btn btn-danger btn-sm btn-circle ml-1" href="#" onclick="RemoveFromCart(@item.CartItemID);" role="button">
                                <i class="fas fa-trash text-white"></i>
                            </a>
                        </td>
                    </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td><strong>Name</strong></td>
                        <td colspan="1"><strong>Description</strong></td>
                        <td>
                            <strong>Store Name</strong>
</td>
                        <td><strong>Price</strong></td>
                        <td></td>

                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6 align-self-center">
            </div>
            <div class="col-md-6">
                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                        <li class="page-item @prevDisabled">
                            <a class="page-link" asp-action="MyCart" asp-route-pageNumber="@(Model.PageIndex - 1)" aria-label="Previous">
                                <span aria-hidden="true"> << Previous Page</span>
                            </a>
                        </li>

                        <li class="page-item @nextDisabled">
                            <a class="page-link" asp-action="MyCart" asp-route-pageNumber="@(Model.PageIndex + 1)" aria-label="Next">
                                <span aria-hidden="true">Next Page >> </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
